[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymongo = "*"
elasticsearch = ">=8.0.0,<9.0.0"
stage0-py-utils = "*"
prometheus-flask-exporter = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
flake8 = "*"
elasticsearch = "*"

[scripts]
local = "python source/server.py"
debug = "export LOGGING_LEVEL=DEBUG && python source/server.py"
test = "python -m pytest tests/ -v --cov=source --cov-report=html"
stepci = "stepci run tests/stepci/search_api.yaml"
build = "docker build -t stage0-search-api ."
service = "stage0 down && stage0 up search-api"
database = "stage0 down && stage0 up elasticsearch"
down = "stage0 down"
